Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized in a specific way to make it easy to manage, access, and update. Databases are used in many applications and industries, including web development, finance, healthcare, and more.

There are two main types of databases: SQL (relational) and NoSQL (non-relational). Here are the key differences between these two types:

SQL (Relational) Databases:

Data Model: SQL databases store data in tables with predefined columns and data types. The relationship between tables is defined using foreign keys.

Schema: SQL databases have a fixed schema, which defines the structure of the database and the relationships between tables. Any changes to the schema require modifying the database schema.

Queries: SQL databases use structured query language (SQL) to retrieve and manipulate data. SQL queries are usually written in a declarative style and are optimized for complex queries.

ACID Compliance: SQL databases are typically ACID-compliant, meaning they ensure Atomicity, Consistency, Isolation, and Durability of transactions.

NoSQL (Non-Relational) Databases:

Data Model: NoSQL databases store data in various formats, including key-value pairs, documents, graphs, and column-family stores.

Schema: NoSQL databases are schema-less, meaning the structure of the database can be changed without modifying the database schema.

Queries: NoSQL databases use different query languages or APIs for retrieving and manipulating data, depending on the type of database. These queries can be more flexible than SQL queries.

ACID Compliance: NoSQL databases are usually not fully ACID-compliant. Instead, they often prioritize availability and partition tolerance over consistency (the CAP theorem).

In summary, SQL databases use a fixed schema, structured query language (SQL), and are typically ACID-compliant, while NoSQL databases are schema-less, use various query languages or APIs, and prioritize availability and partition tolerance over consistency. The choice between SQL and NoSQL depends on the specific needs of the application and the data being stored.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a set of SQL commands used to define and manage the structure of database objects, such as tables, views, indexes, and constraints.

The following are some common DDL commands and their purposes:

CREATE: Used to create a new database object, such as a table or index. For example, to create a table named "users" with columns for id, name, and email, we can use the following SQL statement:

CREATE TABLE users (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50)
);

DROP: Used to delete an existing database object. For example, to delete the "users" table we created above, we can use the following SQL statement:

DROP TABLE users;

ALTER: Used to modify the structure of an existing database object. For example, to add a new column "phone" to the "users" table, we can use the following SQL statement:

ALTER TABLE users ADD COLUMN phone VARCHAR(20);

TRUNCATE: Used to delete all the data from an existing table, while keeping the table structure intact. For example, to delete all the data from the "users" table we created above, we can use the following SQL statement:

TRUNCATE TABLE users;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a set of SQL commands used to manipulate data stored in database objects, such as tables. The following are some common DML commands and their purposes:

INSERT: Used to insert new rows into a table. For example, to insert a new user with id=1, name="John", and email="john@example.com" into the "users" table, we can use the following SQL statement:

INSERT INTO users (id, name, email) VALUES (1, 'John', 'john@example.com');

UPDATE: Used to modify the data in one or more existing rows in a table. For example, to update the email address of the user with id=1 in the "users" table to "john.doe@example.com", we can use the following SQL statement:

UPDATE users SET email='john.doe@example.com' WHERE id=1;

DELETE: Used to delete one or more existing rows from a table. For example, to delete the user with id=1 from the "users" table, we can use the following SQL statement:

DELETE FROM users WHERE id=1;

Q4. What is DQL? Explain SELECT with an example.

rom database objects, such as tables. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables based on certain conditions.

The basic syntax of the SELECT statement is as follows:

SELECT column1, column2, ... FROM table_name WHERE condition;

Here, "column1, column2, ..." refers to the names of the columns that we want to retrieve data from, and "table_name" refers to the name of the table from which we want to retrieve the data. The "WHERE" clause is optional, but it is used to specify one or more conditions that the retrieved data must satisfy.

Q5. Explain Primary Key and Foreign Key.

In a relational database, a primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to ensure data integrity and consistency in the database. A foreign key, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables and enforce referential integrity between them.

Here are some key differences between primary keys and foreign keys:

Uniqueness: A primary key is unique for each row in a table, while a foreign key is not necessarily unique in its own table.

Relationship: A primary key establishes a relationship between each row in a table and itself, while a foreign key establishes a relationship between a row in one table and a row in another table.

Purpose: The purpose of a primary key is to uniquely identify each row in a table, while the purpose of a foreign key is to establish a relationship between two tables and enforce referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, we need to use a connector library. One of the most popular ones is the mysql-connector-python library, which can be installed using the following command:

pip install mysql-connector-python

Once the library is installed, we can use the following code to connect to a MySQL database and execute SQL queries:

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 4.9 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     -------------------------------------- 904.2/904.2 kB 3.6 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector

# establish a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to execute SQL queries
mycursor = mydb.cursor()

# execute an SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the result of the query
result = mycursor.fetchall()

# print the result
for row in result:
  print(row)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

Here, we first establish a connection to the MySQL server using the mysql.connector.connect() method. We provide the necessary connection details such as the host name, username, password, and database name.

Next, we create a cursor object using the cursor() method of the connection object. This cursor object is used to execute SQL queries.

We then execute an SQL query using the execute() method of the cursor object. In this example, we are executing a SELECT query to retrieve all the rows from the customers table.

Finally, we fetch the result of the query using the fetchall() method of the cursor object, and print it to the console.

The execute() method is used to execute an SQL query on the database. It takes an SQL query as a parameter and returns no value. The cursor() method is used to create a cursor object, which is used to execute SQL queries and fetch the results. The cursor object has various methods such as execute(), fetchone(), fetchall(), etc., which are used to execute SQL queries and fetch the results.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: This clause specifies the table(s) from which to retrieve data.

JOIN clause: This clause is used to join two or more tables together based on a related column.

WHERE clause: This clause is used to filter the rows returned by the query based on a condition.

GROUP BY clause: This clause is used to group the rows returned by the query based on one or more columns.

HAVING clause: This clause is used to filter the groups returned by the query based on a condition.

SELECT clause: This clause is used to specify the columns to retrieve from the table(s).

DISTINCT clause: This clause is used to remove duplicate rows from the result set.

ORDER BY clause: This clause is used to sort the rows returned by the query based on one or more columns.

LIMIT clause: This clause is used to limit the number of rows returned by the query.

Note that not all of these clauses are required in every SQL query. The order of execution may vary depending on the specific query and the clauses used. However, this is the general order of execution that is followed in most SQL queries.